<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 align="center">HEROES Y HEROÍNAS DE LA HISTORIA DE LA INFORMÁTICA</h1>
    <a href="http://localhost:3030/babbage"target="_blank"> Charles Babbage
        <img width="320" heigh="560" src="/img/babbage.heroe.jpg" ></a>
    <a href="http://localhost:3030/berners-lee"target="_blank">Berners-Lee
        <img width="320" heigh="560" src="/img/berners_lee.png" alt=""></a>
    <a href="http://localhost:3030/clarke"target="_blank">Joan Clarke
        <img width="320" heigh="560" src="/img/clarke_joan.png" alt=""></a><br>
    <a href="http://localhost:3030/hamilton"target="_blank">Margaret Hamilton
        <img width="320" heigh="560" src="/img/margaret_hamilton.png" alt=""></a>
    <a href="http://localhost:3030/hopper"target="_blank">Grace Hopper
        <img width="320" heigh="560" src="/img/hopper_grace.png" alt=""></a>
    <a href="http://localhost:3030/lovelace"target="_blank">Ada Lovelace
        <img width="320" heigh="560" src="/img/ada_lovelace.png" alt=""></a><div>
    <a href="http://localhost:3030/turing"target="_blank">Alan Turing
        <img width="320" heigh="560" src="/img/alan_turing.png" alt=""></a></div>
</body>
</html>