<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="font">HEROES Y HEROÍNAS DE LA HISTORIA DE LA INFORMÁTICA</h1>
        <nav>
            <div class="block">
                <ul class="list">
                    <li><a href="http://localhost:3030/babbage" target="_blank">Charles Babbage</a></li>
                    <li><a href="http://localhost:3030/berners-lee" target="_blank">Berners-Lee</a></li>
                    <li><a href="http://localhost:3030/clarke" target="_blank">Joan Clarke</a></li>
                    <li><a href="http://localhost:3030/hamilton" target="_blank">Margaret Hamilton</a></li>
                    <li><a href="http://localhost:3030/hopper" target="_blank">Grace Hopper</a></li>
                    <li><a href="http://localhost:3030/lovelace" target="_blank">Ada Lovelace</a></li>
                    <li><a href="http://localhost:3030/turing" target="_blank">Alan Turing</a></li>
                </ul>
            </div>       
        </nav>
    </header>
    <main>
        <center>
            <a href="http://localhost:3030/babbage"target="_blank"><img src="/img/babbage.png"></a>
            <a href="http://localhost:3030/berners-lee"target="_blank"><img src="/img/b-lee.png" alt=""></a>
            <a href="http://localhost:3030/clarke"target="_blank"><img src="/img/clarke.png" alt=""></a>
            <a href="http://localhost:3030/hamilton"target="_blank"><img src="/img/hamilton.png" alt=""></a>
            <a href="http://localhost:3030/hopper"target="_blank"><img src="/img/hopper.png" alt=""></a>
            <a href="http://localhost:3030/lovelace"target="_blank"><img src="/img/lovelace.png" alt=""></a>
            <a href="http://localhost:3030/turing"target="_blank"><img  src="/img/turing.png" alt=""></a>
        </center>
    </main>
</body>
</html>