
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}
.font {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: rgb(156, 236, 5);
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
img {
    width: 400px;
}
ul#lista li{
    text-align: center;
    list-style-type: none;
    background-color: rgba(238, 238, 238, 0.63);
}
a img{
    width: 250px;
    display: inline;
}
body{
    background-image: url(/img/fondo.png);
}
strong{
    color: chartreuse;
    background-color: black;
}